.birki {
  position: relative;
  width: 100%;
  height: 593px;
  box-sizing: border-box;
  overflow: hidden;
}

.row2 {
  width: 5200px;
  height: 593px;
  position: absolute;
  box-sizing: border-box;
  animation: birkimove 15.9s linear infinite;
}
.birka1 {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
}
.birka2 {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  width: 163px;
}
.birka3 {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  width: 131px;
}
#b1, #b1-2 {
  height: 1022px;
  margin-top: -508px;
  margin-left: 265px;
  animation: touch1 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: -0.9s;
}

#b2, #b2-2 {
  height: 968px;
  margin-top: -483px;
  margin-left: -298px;
  animation: touch2 3s ease-in-out infinite;
  animation-delay: -1s;
  animation-play-state: running;
}
#b3, #b3-2 {
  height: 1082px;
  margin-top: -540px;
  margin-left: 230px;
  animation: touch2 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: -0.6s;
}
#b4, #b4-2 {
  height: 760px;
  margin-top: -378px;
  margin-left: 193px;
  animation: touch3 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: -0.15s;
}
#b5, #b5-2 {
  height: 1010px;
  margin-top: -502px;
  margin-left: 43px;
  animation: touch2 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: 0;
}
#b6 {
  height: 694px;
  margin-top: -345px;
  margin-left: 218px;
  animation: touch2 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: .4s;
}
#b7 {
  height: 1082px;
  margin-top: -542px;
  margin-left: 19px;
  animation: touch1 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: .5s;
}
#b8 {
  height: 942px;
  margin-top: -470px;
  margin-left: 117px;
  animation: touch3 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: 0.7s;
}
#b9 {
  height: 850px;
  margin-top: -426px;
  margin-left: 126px;
  animation: touch2 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: 0.9s;
}
#b10 {
  height: 1082px;
  margin-top: -543px;
  margin-left: -50px;
  animation: touch1 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: 0.95s;
}
#b11 {
  height: 906px;
  height: 942px;
  margin-top: -488px;
  margin-left: 228px;
  animation: touch3 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: 1.4s;
}
#b12 {
  height: 1092px;
  margin-top: -546px;
  margin-left: 20px;
  animation: touch1 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: 1.5s;
}
#b13 {
  height: 1038px;
  margin-top: -518px;
  margin-left: 146px;
  margin-right: 40px;
  animation: touch2 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: 1.8s;
}
@keyframes touch3 {
  0% {transform: rotate(-8deg);}
  2% {transform: rotate(-8deg);}
  50% {transform: rotate(6deg);}
  100% {transform: rotate(-8deg);}
}
@keyframes touch1 {
  0% {transform: rotate(-15deg);}
  2% {transform: rotate(-15deg);}
  50% {transform: rotate(12deg);}
  100% {transform: rotate(-15deg);}
}
@keyframes touch2 {
  0% {transform: rotate(-12deg);}
  2% {transform: rotate(-12deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-12deg);}
}
#b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover, #b6:hover, #b7:hover, #b8:hover, #b9:hover {
  animation-play-state: paused;
}
/* #body3:hover #b3 {
  animation-play-state: paused;
} */
#b10:hover, #b11:hover, #b13:hover {
  animation-play-state: paused;
}
#b1:hover ~ #b1-2 {
  animation-play-state: paused;
}
#b2:hover ~ #b2-2 {
  animation-play-state: paused;
}
#b3:hover ~ #b3-2 {
  animation-play-state: paused;
}
#b4:hover ~ #b4-2 {
  animation-play-state: paused;
}
#b5:hover ~ #b5-2 {
  animation-play-state: paused;
}
.body1 {
  height: 400px;
  width: 100%;
  border-radius: 22px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.body2 {
  height: 326px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}
.body3 {
  height: 263px;
  width: 100%;
  border-radius: 18px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}
.thread {
  width: 6px;
  border-radius: 3px;
  position: absolute;
  left: calc(50% - 3px);
}
.thread1 {
  bottom: 393px;
}
.thread2 {
  bottom: 323px;
}
.thread3 {
  bottom: 260px;
}
#th1 {
  height: 252px;
}
#th2 {
  height: 90px;
}
#th3 {
  height: 149px;
}
#th4 {
  height: 59px;
}
#th5 {
  height: 114px;
}
#th6 {
  height: 89px;
}
#th7 {
  height: 147px;
}
#th8 {
  height: 79px;
}
#th9 {
  height: 101px;
}
#th10 {
  height: 146px;
}
#th11 {
  height: 61px;
}
#th12 {
  height: 285px;
}
#th13 {
  height: 126px;
}
.hole1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: calc(50% - 20px);
  bottom: 340px;
  background: black;
}
.hole2 {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  left: calc(50% - 16px);
  bottom: 278px;
  background: black;
}
.hole3 {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  left: calc(50% - 13px);
  bottom: 224px;
  background: black;
}
.birki img {
  position: absolute;
}
.pic1 {
  top: calc(50% - 77px);
  left: calc(50% - 76px);
}
.pic2 {
  bottom: 11px;
  left: 7px;
}
.pic3 {
  bottom: 14px;
  right: 9px;
}
.pic4-1 {
  width: 130%;
  height: auto;
  bottom: 18px;
  left: -73px;
}
.pic4-2 {
  width: 130%;
  height: auto;
  top: -38px;
  right: -165px;
}
.pic5 {
  right: -3px;
  top: -2px;
}
.pic6-1 {
  bottom: 8px;
  left: calc(50% - 56px);
}
.pic6-2 {
  bottom: 94px;
  left: calc(50% - 56px);
}
.pic7-1 {
  left: -45px;
  top: 30px;
}
.pic7-2 {
  left: -12px;
  bottom: 107px;
}
.pic7-3 {
  right: 5px;
  top: 78px;
}
.pic7-4 {
  right: -30px;
  bottom: 57px;
}
.pic8 {
  left: calc(50% - 92px);
  top: 15px;
}
.pic9 {
  width: 91%;
  height: auto;
  left: 7px;
  bottom: 13px;
}
.pic10 {
  width: 84%;
  height: auto;
  transform: scale(-1, 1);
  left: calc(50% - 84px);
  bottom: calc(50% - 78px);
}
.pic11 {
  width: 124%;
  height: auto;
  transform: rotate(90deg);
  left: -26px;
  bottom: 45px;
}
.pic12 {
  right: -1px;
  top: -1px;
}
.pic13 {
  left: calc(50% - 92px);
  bottom: 14px;
}
.birki p {
  font-size:18px;
  line-height: 23px;
  position: absolute;
  color: black;
}
#text1 {
  left: 7px;
  bottom: 13px;
}
#text2 {
  left: 9px;
  top: 68px;
}
#text3 {
  left: 7px;
  bottom: 25px;
}
#text4 {
  left: 9px;
  bottom: 13px;
}
#text5 {
  left: 9px;
  bottom: 13px;
}
#text6 {
  left: 17px;
  bottom: 14px;
}
#text7 {
  left: 9px;
  top: 66px;
}
#text8 {
  left: 32px;
  top: 109px;
}
.bodyblue {
  background: #A4DDD4;
}
.bodyred {
  background: #F28EC0;
}
@keyframes birkimove {
  0% {left: 0px;}
  100% {left: -3669px;}
}
