.birki {
  position: relative;
  width: 100%;
  height: 75.09%;
  box-sizing: border-box;
  overflow: hidden;

}
.row2 {
  width: 361.11%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  animation: birkimove 15.9s linear infinite;
}
.birka1 {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  width: 3.845%;
}
.birka2 {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  width: 3.135%;
}
.birka3 {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  width: 2.519%;
}
#b1, #b1-2 {
  height: 172.35%;
  margin-top: -9.77%;
  margin-left: 5.096%;
  /* animation: touch1 3s ease-in-out infinite; */
  /* animation-play-state: running; */
  /* animation-delay: -0.9s; */
}

#b2, #b2-2 {
  height: 163.24%;
  margin-top: -9.29%;
  margin-left: -5.73%;
  /* animation: touch2 3s ease-in-out infinite; */
  animation-delay: -1s;
  animation-play-state: running;
}
#b3, #b3-2 {
  height: 182.46%;
  margin-top: -10.38%;
  margin-left: 4.42%;
  /* animation: touch2 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: -0.6s;
}
#b4, #b4-2 {
  height: 128.16%;
  margin-top: -7.27%;
  margin-left: 3.71%;
  /* animation: touch3 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: -0.15s;
}
#b5, #b5-2 {
  height: 170.32%;
  margin-top: -9.65%;
  margin-left: 0.83%;
  /* animation: touch2 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: 0;
}
#b6 {
  height: 117.03%;
  margin-top: -6.63%;
  margin-left: 4.19%;
  /* animation: touch2 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: .4s;
}
#b7 {
  height: 182.46%;
  margin-top: -10.42%;
  margin-left: 0.37%;
  /* animation: touch1 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: .5s;
}
#b8 {
  height: 158.85%;
  margin-top: -9.04%;
  margin-left: 2.25%;
  /* animation: touch3 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: 0.7s;
}
#b9 {
  height: 143.34%;
  margin-top: -8.19%;
  margin-left: 2.42%;
  /* animation: touch2 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: 0.9s;
}
#b10 {
  height: 182.46%;
  margin-top: -10.44%;
  margin-left: -0.96%;
  /* animation: touch1 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: 0.95s;
}
#b11 {
  height: 158.85%;
  margin-top: -9.38%;
  margin-left: 4.38%;
  /* animation: touch3 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: 1.4s;
}
#b12 {
  height: 184.15%;
  margin-top: -10.5%;
  margin-left: 0.38%;
  /* animation: touch1 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: 1.5s;
}
#b13 {
  height: 175.04%;
  margin-top: -9.96%;
  margin-left: 2.81%;
  margin-right: 0.77%;
  /* animation: touch2 3s ease-in-out infinite; */
  animation-play-state: running;
  animation-delay: 1.8s;
}
.group1 {
  animation: touch1 3s ease-in-out infinite;
  animation-play-state: running;
  animation-delay: -0.9s;
}
.group1:hover {
  animation-play-state: paused;
}
@keyframes touch3 {
  0% {transform: rotate(-8deg);}
  2% {transform: rotate(-8deg);}
  50% {transform: rotate(6deg);}
  100% {transform: rotate(-8deg);}
}
@keyframes touch1 {
  0% {transform: rotate(-15deg);}
  2% {transform: rotate(-15deg);}
  50% {transform: rotate(12deg);}
  100% {transform: rotate(-15deg);}
}
@keyframes touch2 {
  0% {transform: rotate(-12deg);}
  2% {transform: rotate(-12deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-12deg);}
}
 #b2:hover, #b3:hover, #b4:hover, #b5:hover, #b6:hover, #b7:hover, #b8:hover, #b9:hover {
  animation-play-state: paused;
}

#b10:hover, #b11:hover,#b12:hover, #b13:hover {
  animation-play-state: paused;
}
/* #b1:hover ~ #b1-2 {
  animation-play-state: paused;
} */
#b2:hover ~ #b2-2 {
  animation-play-state: paused;
}
#b3:hover ~ #b3-2 {
  animation-play-state: paused;
}
#b4:hover ~ #b4-2 {
  animation-play-state: paused;
}
#b5:hover ~ #b5-2 {
  animation-play-state: paused;
}
/* #b1-2:hover {
  animation-play-state: paused;
} */
#b2-2:hover{
  animation-play-state: paused;
}
#b3-2:hover {
  animation-play-state: paused;
}
#b4-2:hover {
  animation-play-state: paused;
}
#b5-2:hover{
  animation-play-state: paused;
}
/* #b1-2:hover ~ #b1 {
  animation-play-state: paused;
} */
#b2-2:hover ~ #b2 {
  animation-play-state: paused;
}
#b3-2:hover ~ #b3 {
  animation-play-state: paused;
}
#b4-2:hover ~ #b4 {
  animation-play-state: paused;
}
#b5-2:hover ~ #b5 {
  animation-play-state: paused;
}
.body1 {
  width: 100%;
  border-radius: 22px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.body2 {
  width: 100%;
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}
.body3 {
  width: 100%;
  border-radius: 18px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}
#bod1 {
  height: 25.73%;
}
#bod2 {
  height: 41.32%;
}
#bod3 {
  height: 36.97%;
}
#bod4 {
  height: 42.89%;
}
#bod5 {
  height: 39.6%;
}
#body6 {
  height: 37.9%;
}
#bod7 {
  height: 36.97%;
}
#bod8 {
  height: 42.46%;
}
#bod9 {
  height: 38.35%;
}
#bod10 {
  height: 36.97%;
}
#bod11 {
  height: 42.47%;
}
#bod12 {
  height: 24.08%;
}
#bod13 {
  height: 38.54%;
}
.thread {
  width: 6px;
  border-radius: 3px;
  position: absolute;
  left: calc(50% - 3px);
}
.thread1 {
  bottom: 393px;
}
.thread2 {
  bottom: 323px;
}
.thread3 {
  bottom: 260px;
}
#th1 {
  height: 24.66%;
  bottom: 25.44%;
}
#th2 {
  height: 9.3%;
  bottom: 40.6%;
}
#th3 {
  height: 13.77%;
  bottom: 36.32%;
}
#th4 {
  height: 7.76%;
  bottom: 42.5%;
}
#th5 {
  height: 11.29%;
  bottom: 38.91%;
}
#th6 {
  height: 12.82%;
  bottom: 37.46%;
}
#th7 {
  height: 13.59%;
  bottom: 36.32%;
}
#th8 {
  height: 8.39%;
  bottom: 41.72%;
}
#th9 {
  height: 11.88%;
  bottom: 38%;
}
#th10 {
  height: 13.49%;
  bottom: 36.32%;
}
#th11 {
  height: 6.48%;
  bottom: 41.72%;
}
#th12 {
  height: 26.1%;
  bottom: 23.81%;
}
#th13 {
  height: 12.14%;
  bottom: 37.86%;
}
.hole1 {
  position: absolute;
  width: 20%;
  height: 10%;
  border-radius: 50%;
  left: 40%;
  bottom: 85%;
  background: black;
}
.hole2 {
  position: absolute;
  width: 19.63%;
  height: 9.82%;
  border-radius: 50%;
  left: 40.2%;
  bottom: 85.28%;
  background: black;
}
.hole3 {
  position: absolute;
  width: 19.85%;
  height: 9.89%;
  border-radius: 50%;
  left: 40.01%;
  bottom: 85.17%;
  background: black;
}
.birki img {
  position: absolute;
}
.pic1 {
  top: 30.75%;
  left: 12%;
  width: 74.5%;
}
.pic2 {
  bottom: 4.18%;
  left: 5.34%;
  width: 89.32%;
}
.pic3 {
  bottom: 3.5%;
  right: 4.5%;
  width: 91%;
}
.pic4-1 {
  width: 130%;
  height: auto;
  bottom: 5.52%;
  left: -44.79%;
}
.pic4-2 {
  width: 130%;
  height: auto;
  top: -11.66%;
  right: -101.23%;
}
.pic5 {
  right: -1.5%;
  top: -0.5%;
  width: 94%;
}
.pic6-1 {
  bottom: 3.04%;
  width: 85.5%;
  left: 7.25%;
}
.pic6-2 {
  bottom: 35.74%;
  left: 7.25%;
  width: 85.5%;
}
.pic7-1 {
  width: 58%;
  left: -22.5%;
  top: 7.5%;
}
.pic7-2 {
  width: 58%;
  left: -6%;
  bottom: 26.75%;
}
.pic7-3 {
  width: 58%;
  right: 2.5%;
  top: 19.5%;
}
.pic7-4 {
  width: 58%;
  right: -15%;
  bottom: 14.25%;
}
.pic8 {
  width: 91%;
  left: 4.5%;
  top: 3.75%;
}
.pic9 {
  width: 91%;
  height: auto;
  left: 4.29%;
  bottom: 4%;
}
.pic10 {
  width: 84%;
  height: auto;
  transform: scale(-1, 1);
  left: 8%;
  bottom: 30.5%;
}
.pic11 {
  width: 124%;
  height: auto;
  transform: rotate(90deg);
  left: -13%;
  bottom: 11.25%;
}
.pic12 {
  width: 92%;
  right: -0.76%;
  top: -0.38%;
}
.pic13 {
  width: 92%;
  left: 4%;
  bottom: 3.5%;
}
.birki p {
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  color: black;
}
#text1 {
  left: 3.5%;
  bottom: 3.25%;
}
#text2 {
  left: 4.5%;
  top: 17%;
}
#text3 {
  left: 3.5%;
  bottom: 6.25%;
}
#text4 {
  left: 4.5%;
  bottom: 3.25%;
}
#text5 {
  left: 4.5%;
  bottom: 3.25%;
}
#text6 {
  left: 8.5%;
  bottom: 3.5%;
}
#text7 {
  left: 4.5%;
  top: 16.5%;
}
#text8 {
  left: 16%;
  top: 27.25%;
}
.bodyblue {
  background: #A4DDD4;
}
.bodyred {
  background: #F28EC0;
}
@keyframes birkimove {
  0% {left: 0px;}
  100% {left: -254.79%;}
}
