body{
  width: 100%;
  margin: 0;
  /* background: black; */
  height: 100%;
  display: block;
  position: relative;

}
body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url( '../images/ipadp.jpg');
  width: 100%;
  height: 100%;
  display: block;
  opacity: .3;
}
html{
  position: relative;
  height: 100%;
  width: 100%;
}
p {
  font-family: "Akzidenz";
}
.wrapper {
  position: relative;
  width: 100%;
  /* background: black; */
}
.sootnosheniye {
  position: relative;
  padding-bottom: 173.54%;
  /* background: red; */

}
.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 0;
  /* background: yellow; */
}
.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68.4%;
  opacity: 50%;
}
.left {
  position: relative;
  width: 24%;
  height: 100%;
  background: blue;
}
.center {
  position: relative;
  width: 52%;
  height: 100%;
  background: red;
}
.right {
  position: relative;
  width: 24%;
  height: 100%;
  background: green;
}
.first {
  position: relative;
  align-items: top;
  width: 100%;
  height: 54.8%;
  background: purple;
  display: block;
}
.second {
  position: relative;
  width: 100%;
  height: 30.5%;
  background: yellow;
  display: block;
}
.third {
  position: relative;
  width: 100%;
  height: 14.7%;
  background: black;
  display: block;
}
.block2 {
  opacity: 50%;
  width: 100%;
  height:  31.6%;
  background: black;
}
.block img {
  position: absolute;
  display: inline-block;
}
.smallround-centertop {
  width: 4%;
  height: 3.2%;
  border-radius: 50%;
  background: #F28EC0;
  position: absolute;
  transition: all .3s;
}
.smallround-centerbottom {
  width: 4%;
  height: 11.94%;
  border-radius: 50%;
  background: #F28EC0;
  position: absolute;
  transition: all .3s;
}
.smallround-left {
  width: 8.68%;
  height: 1.76%;
  border-radius: 50%;
  background: #F28EC0;
  position: absolute;
  transition: all .3s;
}
/* .smallround:hover {
  background: #F8E436;
  transition: all.1s;
} */
.top1 {
  bottom: 0.75%;
  left: -10%;
  width: 46.5%;
}

.top2 {
  bottom: 0.75%;
  left: 10.55%;
  width: 33.25%;

}
.top3 {
  bottom: 0.75%;
  left: 34%;
  width: 18.16%;
}
.top4 {
  bottom: 0.75%;
  right: 13.35%;
  width: 44.47%;

}
.top5 {
  bottom: 0.75%;
  right: -14.29%;
  width: 49.95%;
}
.logo {
  left: 1.87%;
  top: 0.96%;
  width: 96.42%;
}
.bottom1 {
  top: 3.98%;
  left: -1.74%;
  width: 31.65%;
}
.bottom2 {
  top: 3.58%;
  right: -6.68%;
  width: 72.65%;
}
#rtop-a {
  left: 2%;
  top: 38.17%;
}
#rtop-b {
  left: 30%;
  bottom: 42.38%;
}
#rtop-c {
  left: 34%;
  bottom: 23.27%;
}
#rtop-d {
  right: 37.79%;
  bottom: 23%;
}
#rtop-e {
  right: 25.77%;
  bottom: 16.65%;
}
#rtop-f {
  right: 13.62%;
  bottom: 41.2%;
}
#rbottom-a {
  bottom: 0.8%;
  left: -1.74%;
}
#rbottom-b {
  bottom: 35.82%;
  left: 13.89%;
}
#rbottom-c {
  top: 3.18%;
  right: 1.9%;
}
#rbottom-d {
  bottom: 0.4%;
  right: -6.54%;
}
.left1 {
  left: 8.68%;
  bottom: 1.76%;
  width: 91.73%;
}
.left2 {
  right: -13%;
  bottom: 1.76%;
  width: 87.1%;
}
#rleft-a {
  top: 47.39%;
  left: 8.68%;
}
#rleft-b {
  bottom: 15.91%;
  left: 8.68%;
}
#rleft-c {
  bottom: 0.06%;
  left: 8.68%;
}
#rleft-d {
  bottom: 0.06%;
  left: 26%;
}
#rleft-e {
  bottom: 43.88%;
  left: 52.37%;
}
#rleft-f {
  bottom: 40.43%;
  right: 13%;
}
#rleft-g {
  bottom: 12.34%;
  right: 21.7%;
}
#rleft-h {
  bottom: 21.1%;
  right: 4.34%;
}
.right1 {
  bottom: 1.76%;
  right: 8.68%;
  width: 104.46%;
}
#rright-a {
  bottom: 40.37%;
  left: 4.63%;
}
#rright-b {
  top: 36.86%;
  left: 13.31%;
}
#rright-c {
  bottom: 35.1%;
  left: 30.67%;
}
#rright-d {
  bottom: 19.25%;
  right: 34.72%;
}
#rright-e {
  top: 49.14%;
  right: 8.68%;
}
#rright-f {
  bottom: 28.14%;
  right: 8.68%;
}
#rright-g {
  bottom: 0.06%;
  right: 8.68%;
}
.block p {
  font-size: 24px;
  line-height: 30.6px;
  position: absolute;
  top: 2.22%;
  color: #A4DDD4;
}
#title1 {
  left: 17.36%;
  /* width: 69.45%;
  height: 8.25%; */
}
#title2 {
  right: 17.36%;
  /* width: 76.68%;
  height: 3.8%; */
}
.al-top1 {left: 1.7%; bottom: 27.5%; width: 34.3%;}
.al-top2 {left: 10.4%; bottom: 1.2%; width: 33.3%;}
.al-top3 {left: 33.7%; bottom: 1.2%; width: 17.74%;}
.al-top4 {right: 30.2%; bottom: 1.5%; width: 14%;}
.al-top5 {right: 2.3%; bottom: 1.2%; width: 33.95%;}
.al-bottom1 {width: 7.23%; left: 22.7%; top: 4%;}
.al-bottom2 {width: 71.82%; right: -5.7%; top: 4%;}
.al-left {width: 163.41%; bottom: 1.7%; left: 15%;}
.al-right { width: 117.3%; bottom: 1.9%; right: 15%;}
