.meatblock {
  width: 496px;
  height: 496px;
  position: relative;
  display: inline-block;
  margin-top: 4.6%;
  /* margin-left: 17%; */
  margin-left: calc(50% - 248px);
}
.biground {
  width: 421px;
  height: 421px;
  border-radius: 50%;
  background: #A4DDD4;
  position: relative;
  margin: auto;
  margin-top: 7.5%;
  animation: rotatemeat 9s linear infinite;
}
.biground2 {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background: #A4DDD4;
  position: absolute;
}
#br-a {
  top: -9%;
  left: calc(50% - 39.5px);
}
#br-b {
  top: calc(25% - 39.5px);
  left: -3%;
}
#br-c {
  bottom: calc(25% - 39.5px);
  left: -3%;
}
#br-d {
  bottom: -9%;
  left: calc(50% - 39.5px);
}
#br-e {
  bottom: calc(25% - 39.5px);
  right: -3%;
}
#br-f {
  top: calc(25% - 39.5px);
  right: -3%;
}
.blackround {
  width: 326px;
  height: 326px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: calc(50% - 163px);
  left: calc(50% - 163px);
}
.smallround-meat {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #F28EC0;
  position: absolute;
}
#sr-a {
  top: 9%;
  left: calc(50% - 15px);
}
#sr-b {
  top: 9%;
  right: 27%;
}
#sr-c {
  top: 28%;
  left: 9%;
}
#sr-d {
  top: 28%;
  left: calc(50% - 15px);
}
#sr-e {
  top: 28%;
  right: 9%;
}
@keyframes rotatemeat {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}

}
