.meatblock {
  width: 66.2%;
  height: 52.94%;
  position: relative;
  display: inline-block;
  margin-top: 4.6%;
  margin-left: 17%;
  /* opacity: 50%; */
}
.biground {
  width: 84.87%;
  height: 84.87%;
  border-radius: 50%;
  background: #A4DDD4;
  position: relative;
  margin: auto;
  margin-top: 7.5%;
  /* animation: rotatemeat 9s linear infinite; */
}
.biground2 {
  width: 18.77%;
  height: 18.77%;
  border-radius: 50%;
  background: #A4DDD4;
  position: absolute;
}
#br-a {
  top: -9%;
  left: 40.61%;
}
#br-b {
  top: 15.61%;
  left: -3%;
}
#br-c {
  bottom: 15.61%;
  left: -3%;
}
#br-d {
  bottom: -9%;
  left: 40.61%;
}
#br-e {
  bottom: 15.61%;
  right: -3%;
}
#br-f {
  top: 15.61%;
  right: -3%;
}
.blackround {
  width: 65.72%;
  height: 65.72%;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 17.14%;
  left: 17.14%;
}
.smallround-meat {
  width: 9.2%;
  height: 9.2%;
  border-radius: 50%;
  background: #F28EC0;
  position: absolute;
}
#sr-a {
  top: 9%;
  left: 45.4%;
}
#sr-b {
  top: 9%;
  right: 27%;
}
#sr-c {
  top: 28%;
  left: 9%;
}
#sr-d {
  top: 28%;
  left: 45.4%;
}
#sr-e {
  top: 28%;
  right: 9%;
}
@keyframes rotatemeat {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}

}
