@media all and (min-width: 1025px) {
  .first .al-top1, .first .al-top2, .first .al-top3, .first .al-top4, .first .al-top5, .third .al-bottom1, .third .al-bottom2, .left .al-left, .right .al-right {display: none;}
}

@media all and (min-width: 300px) and (max-width: 768px) {
  .first .al-top1, .first .al-top2, .first .al-top3, .first .al-top4, .first .al-top5, .third .al-bottom1, .third .al-bottom2, .left .al-left, .right .al-right {display: none;}
}
@media all and (min-width: 300px) and (max-width: 1024px) {
  .left .left1, .left .left2, .right .right1, .first .top1, .first .top2,.first .top3,.first .top4, .first .top5, .third .bottom1, .third .bottom2  {display: none;}
}
@media all and (min-width: 300px) and (max-width: 500px) {
  .first .ap-top1, .first .ap-top2, .first .ap-top3, .first .ap-top4, .first .ap-top5, .third .ap-bottom1, .third .ap-bottom2, .left .ap-left, .right .ap-right {display: none;}
}
@media all and (min-width: 769px) {
  .first .ap-top1, .first .ap-top2, .first .ap-top3, .first .ap-top4, .first .ap-top5, .third .ap-bottom1, .third .ap-bottom2, .left .ap-left, .right .ap-right {display: none;}
}
@media all and (min-width: 1680px)  {
  .left .left1, .left .left2, .right .right1, .first .top1, .first .top2,.first .top3,.first .top4, .first .top5  {display: none;}
}
@media all and (min-width: 1025px) and (max-width: 1439px) {
  .left .left1, .left .left2, .right .right1 {display: none;}
}
@media all and (min-width: 320px) and (max-width: 1679px) {
  .left .left1-1680, .left .left2-1680,.right .right1-1680, .right .right2-1680, .first .top1-1680,.first .top2-1680,.first .top3-1680,.first .top4-1680,.first .top5-1680, .right #rright-h,.right #rright-i, .right #rright-j {display: none;}
}
@media all and (min-width: 320px) and (max-width: 1365px) {
.left .left1-1366, .left .left2-1366, .right .right-1366 {display: none;}
}
@media all and (min-width: 1440px)  {
.left .left1-1366, .left .left2-1366, .right .right-1366 {display: none;}
}
@media all and (min-width: 1366px)  {
.left .left-1280, .right .right-1280 {display: none;}
}
@media all and (max-width: 1024px) {
.left .left-1280, .right .right-1280 {display: none;}
}
@media all and (min-width: 501px) {
.first .iphone-top1, .first .iphone-top2, .first .iphone-top3, .first .iphone-top4, .first .iphone-top5, .third .iphone-bottom1, .third .iphone-bottom2, .first #rtop-g, .first #rtop-h,.first #rtop-i, .first #rtop-j, .first #rtop-k, .first #rtop-l, .first #rtop-m {display: none;}
.first #rtop-n, .third #rbottom-e, .third #rbottom-f, .third #rbottom-g  {display: none;}
}
@media only screen and (min-width: 1680px)  {
  .block #title1, #title2 {font-size: 28px; line-height: 36px;top: 1.7%;}
  .row.line {border-radius: 17px;}
  .birki p {font-size: 21px; line-height: 27px;}
  .block3 p {font-size: 21px; line-height: 27px;}
  .block3 a {font-size: 21px; line-height: 27px;}
  body .sootnosheniye {padding-bottom: 166.73%;}
  body .block {height: 65.91%;}
  body .block2 {height: 32.63%;}
  body .block3 {height: 1.46%;}
  div .center {width: 43.82%;}
  div .left {width: 28.09%;}
  div .right {width: 28.09%;}
  div .first {height: 58.38%;}
  div .second {height: 28.22%;}
  div .third {height: 13.4%;}
  .first .meatblock { height: 45.21%; margin-top: 6.6%; margin-left: 16%; }
  .bottom1 {left: -3.74%;}
  .bottom2 {right: -4.68%;}
  .second .logo {left: 0%; top:1.96%;}
  .first .smallround-centertop {height: 2.74%; width: 4%;}
  .third .smallround-centerbottom {height: 12.93%;width: 4%;}
  .left .smallround-left {width: 6.25%; height: 1.6%;}
  .right .smallround-left {width: 6.25%; height: 1.6%;}
  .first #rtop-a {left: 0%; top: 34%;}
  .first #rtop-b {left: 28%; bottom: 49%;}
  .first #rtop-c {left: 32%; bottom: 17.47%;}
  .first #rtop-d {right: 39.79%; bottom: 32.8%;}
  .first #rtop-e {right: 27.77%; bottom: 27.4%;}
  .first #rtop-f {right: 15.62%; bottom: 48.4%;}
  #rbottom-a {bottom: 0.8%; left: -3.74%;}
  #rbottom-b {bottom: 35.82%; left: 11.89%;}
  #rbottom-c {top: 3.18%; right: 3.7%;}
  #rbottom-d {bottom: 0.4%;right: -4.54%;}
  #rleft-a {top: 46.59%;left: 5.4%;}
  #rleft-b {bottom: 30.75%;left: 11.68%;}
  #rleft-c {bottom: 0.06%;left: 5.6%;}
  #rleft-d {bottom: 0.06%;left: 24.5%;}
  #rleft-e {bottom: 54.4%; left: 37.37%;}
  #rleft-f {bottom: 44.95%; right: 12.5%;}
  #rleft-g {bottom: 25.85%; left: 24.5%; right: auto;}
  #rleft-h {bottom: 27.4%; right: 6.34%;}

  #rright-a {bottom: 45%;left: 0%;}
  #rright-b {top: 34.3%;left: 6.31%;}
  #rright-c {bottom: 33.85%;left: 43.8%;}
  #rright-d {bottom: 25.8%;left: 37.4%;right: auto;}
  #rright-e {top: 45.45%;right: 30.68%;}
  #rright-f {bottom: 39.7%;right: 5.5%;}
  #rright-g {bottom: 0.06%;right: 5.5%;}
  #rright-h {bottom: 0.06%;left: 37.4%;}
  #rright-i{bottom: 0.06%;right: 36.1%;}
  #rright-j{bottom: 14.06%;right: 5.5%;}
  .row .line {width: 0.7%;}
  @keyframes move {
    0% {left: 0%;}
    100% {left: -125.48%;}
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .block #title1, #title2 {font-size: 22px; line-height: 28px;top: 1.7%;}
  .row .line {border-radius: 14px;}
  .birki p {font-size: 16px; line-height: 20px;}
  .block3 p {font-size: 16px; line-height: 20px;}
  .block3 a {font-size: 16px; line-height: 20px;}
  body .sootnosheniye {padding-bottom: 183%;}
  body .block {height: 68.2%;}
  body .block2 {height: 30.16%;}
  body .block3 {height: 1.64%;}
  div .center {width:54.17%;}
  div .left {width: 22.915%;}
  div .right {width: 22.915%;}
  div .first {height: 55.1%;}
  div .second {height: 30.5%;}
  div .third {height: 14.4%;}
  .first .meatblock { height: 52.29%; margin-top: 6.3%; margin-left: 17%; }
  .bottom1 {top: 3%;}
  .bottom2 {top: 2.58%;}
  .first .smallround-centertop {height: 3.16%; width: 4%;}
  .third .smallround-centerbottom {height: 12%;width: 4%;}
  .left .smallround-left {width: 9.49%; height: 1.74%;}
  .right .smallround-left {width: 9.49%; height: 1.74%;}
  .first #rtop-a {top: 39.1%;}
  .first #rtop-b {bottom: 41.8%;}
  .first #rtop-c {bottom: 23%;}
  .first #rtop-f {bottom: 40.7%;}
  #rright-a {bottom: 40.1%;left: 4.83%;}
  #rright-b {top: 37.3%;left: 13.91%;}
  #rright-c {bottom: 34.9%;left: 33.8%;}
  #rright-d {bottom: 19.25%;right: 28.72%;}
  #rright-e {top: 49.5%;right: 9.4%;}
  #rright-f {bottom: 28%;right: 9.2%;}
  #rright-g {bottom: 0.06%; right: 9.2%}

  #rleft-a {top: 47.75%;left: 8.98%;}
  #rleft-b {bottom: 14%;left: 8.98%;}
  #rleft-c {left: 9.5%;}
  #rleft-d {left: 29%;}
  #rleft-e {bottom: 43.5%;left: 47.37%;}
  #rleft-f {bottom: 40.2%;right: 14.8%;}
  #rleft-g {bottom: 12.34%;right: 23.7%;}
  #rleft-h {display: none;}
  .birki .row2 {animation: birkimove 17.9s linear infinite;}
  .container1 .row {animation: move 9s linear infinite;}
}

@media only screen and (min-width: 1025px) and (max-width: 1365px) {
  .block #title1, #title2 {font-size: 22px; line-height: 28px;top: 1.7%;}
  .row .line {border-radius: 14px;}
  .birki p {font-size: 16px; line-height: 20px;}
  .block3 p {font-size: 16px; line-height: 20px;}
  .block3 a {font-size: 16px; line-height: 20px;}
  .birki .body1 {border-radius: 18px;}
  .birki .body2 {border-radius: 16px;}
  .birki .body3 {border-radius: 14px;}
  body .sootnosheniye {padding-bottom: 187.34%;}
  body .block {height: 69.47%;}
  body .block2 {height: 29.28%;}
  body .block3 {height: 1.25%;}
  div .center {width:56.74%;}
  div .left {width: 21.63%;}
  div .right {width: 21.63%;}
  .left .smallround-left {width: 10.47%; height: 1.74%;}
  .right .smallround-left {width: 10.47%; height: 1.74%;}
  .container1 .row { width: 245%;}
  .block2 .container1 { height: 27%;}
  #rleft-a {top: 45.2%;left: 10.5%;}
  #rleft-b, #rleft-h {display: none;}
  #rleft-c {left: 10.5%;}
  #rleft-d {bottom: 8.5%;right: -6.4%;left: auto;;}
  #rleft-e {bottom: 35.4%;left: 10.5%;}
  #rleft-f {bottom: 39.8%;right: 15.8%;}
  #rleft-g {bottom: 17.75%;right: 4%;}

  #rright-a {bottom: 40.1%;left: 5.2%;}
  #rright-b {top: 37.3%;left: 16.3%;}
  #rright-c {bottom: 34.85%;left: 26.2%;}
  #rright-d {bottom: 19.25%;right:32%;}
  #rright-e {top: 49.5%;right: 10.8%;}
  #rright-f {bottom: 28%;right: 10.8%;}
  #rright-g {bottom: 0.06%; right: 10.8%}
  .first .top1 {z-index: 100;}
  .first .top2 {z-index: 101;}
  .first .top3 {z-index: 102;}
  @keyframes move {
    0% {left: 0px;}
    100% {left: -136.7%;}
  }

  @keyframes birkimove {
    0% {left: 0px;}
    100% {left: -255.1%;}
  }
  .birki .row2 {animation: birkimove 20.2s linear infinite;}
  .container1 .row {animation: move 10.9s linear infinite;}
}
@media only screen and (min-width: 1280px) and (max-width: 1320px) {

  @keyframes move {
    0% {left: 0px;}
    100% {left: -136.6%;}
  }

  @keyframes birkimove {
    0% {left: 0px;}
    100% {left:  -255.05%;}
  }
  .birki .row2 {animation: birkimove 19.2s linear infinite;}
  .container1 .row {animation: move 10.3s linear infinite;}
}
@media only screen and (min-width: 1101px) and (max-width: 1279px) {
  .block #title1, #title2 {font-size: 21px; line-height: 27px;top: 1.7%; width: 23%;}
  .birki p {font-size: 15px; line-height: 20px;}
  .block3 p {font-size: 14px; line-height: 18px;}
  .block3 a {font-size: 14px; line-height: 18px;}
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {

  .row #newlife {width: 8.78%;}
  .row #alternative {width: 21.75%;}
  .row #view {width: 9.955%;}
  .row #dream {width: 8.476%;}

}
@media only screen and (min-width: 1101px) and (max-width: 1279px) {
  .block2 .container1 { height: 27%;}
  .container1 .row {width: 242%; animation: move 9s linear infinite;}
  .birki .row2 {animation: birkimove 17s linear infinite;}
  @keyframes move {
    0% {left: 0px;}
    100% {left: -134.7%;}
  }

  @keyframes birkimove {
    0% {left: 0px;}
    100% {left:  -255.45%;}
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1100px) {
  .block #title1, #title2 {font-size: 21px; line-height: 27px;top: 1.7%; width: 25%;}
  .birki p {font-size: 14px; line-height: 18px;}
  .block3 p {font-size: 13px; line-height: 18px;}
  .block3 a {font-size: 13px; line-height: 18px;}
  .container1 .row {width: 242%;}
  .block2 .container1 { height: 27%;}
  .container1 .row {animation: move 10.9s linear infinite;}
  @keyframes move {
    0% {left: 0px;}
    100% {left: -135.1%;}
  }

  @keyframes birkimove {
    0% {left: 0px;}
    100% {left:  -256.1%;}
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .block #title1, #title2 {font-size: 20px; line-height: 26px;top: 1.7%; width: 26%;}
  body .birki p {font-size: 16px; line-height: 20px;}
  body .block3 p {font-size: 16px; line-height: 20px; margin-bottom: 3%;}
  body .block3 a {font-size: 16px; line-height: 20px;margin-bottom: 3%; height: 350%; width: 13.8%;}
  body .sootnosheniye {padding-bottom: 220.7%;}
  body .block {height: 67.602%;}
  body .block2 {height: 32.106%;}
  body .block3 {height: 0.292%;}
  div .center {width: 71.5%;}
  div .left {width: 14.25%;}
  div .right {width: 14.25%;}
  div .first {height: 51.5%;}
  div .second {height: 33.57%;}
  div .third {height: 14.93%;}
  .birki .body1 {border-radius: 18px;}
  .birki .body2 {border-radius: 16px;}
  .birki .body3 {border-radius: 14px;}
  .container1 .row { width: 295%; animation: move 9.4s linear infinite; }
  @keyframes move {
    0% {left: 0px;}
    100% {left: -164.7%;}
  }
  .birki .row2 { width: 449%; animation: birkimove 17.8s linear infinite;}
  @keyframes birkimove {
    0% {left: 0%;}
    100% {left: -312%;}
  }
  .first .meatblock {height: 61.53%; margin-top: 6.5%; margin-left: 16.5%;}
  .first #rtop-e, .first #rtop-f, .left #rleft-b, .left #rleft-d, .left #rleft-e, .left #rleft-f, .left #rleft-g, .left #rleft-h, .right #rright-b, .right #rright-c, .right #rright-d, .right #rright-f {display: none;}
  .first .smallround-centertop {height: 3.73%;}
  .third .smallround-centerbottom {height: 12.87%;}
  .left .smallround-left {width: 20%; height: 1.9%;}
  .right .smallround-left {width: 20%; height: 1.9%;}
  .first #rtop-a {left: 1.7%; bottom: 49.27%; top: auto;}
  .first #rtop-b {left: 1.7%; bottom: 23.8%; top: auto;}
  .first #rtop-c {left: 29.77%; bottom: 31.66%; top: auto;}
  .first #rtop-d {right: 14.07%; bottom: 30.2%; top: auto;}
  .third #rbottom-a {left: 22.7%; bottom: 0%; top: auto;}
  .third #rbottom-b {right: 46%; left: auto; top: 11.4%;}
  .third #rbottom-c {right: 2.7%; top:11.4%; }
  .third #rbottom-d { right: -5.7%;}
  .left #rleft-a {left: 15%; bottom: 37.9%; top: auto;}
  .left #rleft-c {left: 15%; bottom: 11.2%;}
  .right #rright-g { right: 15%;}
  .right #rright-e { right: 15%; top: 44.8%;}
  .right #rright-a { left: 24%; bottom: 41.8%;}
  .row2 #b1, #b1-2 {margin-left: 4%; height: 166.35%;}
  .row2 #b2, #b2-2 {margin-left: -5.8%; height: 157.24%}
  .row2 #b3, #b3-2 {height: 176.46%;}
  .row2 #b4, #b4-2 {height: 122.16%;}
  .row2 #b5, #b5-2 {height: 164.32%;}
  .row2 #b6 {height: 111.03%;}
  .row2 #b7 {height: 176.46%;}
  .row2 #b8 {height: 152.85%;}
  .row2 #b9 {height: 137.34%;}
  .row2 #b10 {height: 176.46%;}
  .row2 #b11 {height: 148.85%;}
  .row2 #b12 {height: 178.15%;}
  .row2 #b13 {height: 169.04%;}
}
@media only screen and (min-width: 769px) and (max-width: 980px) {
  body .birki p {font-size: 14px; line-height: 18px;}

}
@media only screen and (min-width: 801px) and (max-width: 950px) {
  .block #title1, #title2 {font-size: 18px; line-height: 24px;top: 1.7%; width: 26%;}
}

@media only screen and (min-width: 769px) and (max-width: 920px) {
  body .birki p {font-size: 13px; line-height: 16px;}
}

@media only screen and (min-width: 831px) and (max-width: 920px) {
  @keyframes birkimove {
    0% {left: 0%;}
    100% {left: -312.7%;}
  }
  @keyframes move {
    0% {left: 0px;}
    100% {left: -165.1%;}
  }
}

@media only screen and (min-width: 769px) and (max-width: 830px) {

  @keyframes birkimove {
    0% {left: 0%;}
    100% {left: -313.4%;}
  }
  @keyframes move {
    0% {left: 0px;}
    100% {left: -165.6%;}
  }
}
@media only screen and (min-width: 769px) and (max-width: 870px) {
  body .block3 a { width: 15.8%;}

}
@media only screen and (min-width: 769px) and (max-width: 800px) {
  body .birki p {font-size: 13px; line-height: 16px;}
  .block #title1, #title2 {font-size: 17px; line-height: 23px;top: 1.7%; width: 27%;}
}

@media only screen and (min-width: 501px) and (max-width:768px) {
  .block #title1, #title2 {font-size: 16px; line-height: 20px;top: 1.7%; width: 26%;}
  body .birki p {font-size: 16px; line-height: 20px;}
  body .block3 p {font-size: 16px; line-height: 20px; margin-bottom: 4%;}
  body .block3 a {font-size: 16px; line-height: 20px; margin-bottom: 4%; height: 110%; width: 19%;}
  body .sootnosheniye {padding-bottom: 236.72%;}
  body .block {height: 59.626%;}
  body .block2 {height: 39.164%;}
  body .block3 {height: 1.21%;}
  div .center {width: 71.5%;}
  div .left {width: 14.25%;}
  div .right {width: 14.25%;}
  div .first {height: 48.155%;}
  div .second {height: 35.978%;}
  div .third {height: 15.867%;}
  .birki .body1 {border-radius: 18px;}
  .birki .body2 {border-radius: 16px;}
  .birki .body3 {border-radius: 14px;}
  .second .logo {left: 1.2%; top: 1.5%; width: 97.2%;}
  .first .smallround-centertop {height: 4.21%;}
  .third .smallround-centerbottom {height: 12.79%;}
  .left .smallround-left {width: 20%; height: 2.03%;}
  .right .smallround-left {width: 20%; height: 2.03%;}
  .container1 .row {width: 379%; animation: move 9.6s linear infinite; }
  @keyframes move {
    0% {left: 0px;}
    100% {left: -207.8%;}
  }
  .birki .row2 { height: 97%; width: 598%; animation: birkimove 19s linear infinite;}
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left:  -416.1%;}
  }
  .row .line {width: 0.65%;}
  .first .meatblock {height: 70.24%; margin-top: 5.2%; margin-left: 16.5%;}
  .row2 #b1, #b1-2 {margin-left: 4.1%; height: 174.05%;}
  .row2 #b2, #b2-2 {margin-left: -5.8%; height: 165.24%}
  .row2 #b3, #b3-2 {height: 184.46%;}
  .row2 #b4, #b4-2 {height: 130.16%;}
  .row2 #b5, #b5-2 {height: 172.32%;}
  .row2 #b6 {height: 119.03%;}
  .row2 #b7 {height: 184.46%;}
  .row2 #b8 {height: 160.85%;}
  .row2 #b9 {height: 145.34%;}
  .row2 #b10 {height: 184.46%;}
  .row2 #b11 {height: 156.85%;}
  .row2 #b12 {height: 186.15%;}
  .row2 #b13 {height: 178.04%;}
  .left #rleft-b {left: 11%; bottom: 34.1%; top: auto;}
  .first #rtop-a {left: 1%; bottom: 45.8%; top: auto;}
  .first #rtop-c {left: 29.6%; bottom: 22.66%; top: auto;}
  .first #rtop-d {right: 13.67%; bottom: 21%; top: auto;}
  .third #rbottom-a {left: 22.2%; bottom: 0%; top: auto;}
  .third #rbottom-b {right: 46%; left: auto; top: 9.9%;}
  .third #rbottom-c {right: 1.6%; top:9.9%; }
  .third #rbottom-d { right: -6.9%; bottom: 0;}
  .right #rright-g { right: 11%;}
  .right #rright-e { right: 11%; top: 47.2%;}
  .right #rright-a { left: 28%; bottom: 42.4%;}
  .first #rtop-b, .first #rtop-e, .first #rtop-f, .left #rleft-a, .left #rleft-c, .left #rleft-d, .left #rleft-e, .left #rleft-f, .left #rleft-g, .left #rleft-h, .right #rright-b, .right #rright-c, .right #rright-d, .right #rright-f {display: none;}
}
@media only screen and (min-width: 650px) and (max-width: 750px) {
  .block #title1, #title2 {font-size: 14px; line-height: 18px;top: 1.7%; width: 26%;}
}
@media only screen and (min-width: 531px) and (max-width: 649px) {
  .block #title1, #title2 {font-size: 12px; line-height: 16px;top: 1.7%; width: 25%;}
  body .block3 p {font-size: 14px; line-height: 18px; margin-bottom: 4%;}
  body .block3 a {font-size: 14px; line-height: 18px; margin-bottom: 4%; height: 110%; width: 19%;}
}

@media only screen and (min-width: 591px) and (max-width: 679px) {
  @keyframes move {
    0% {left: 0px;}
    100% {left: -208.5%;}
  }
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left:  -417.3%;}
  }
}
@media only screen and (min-width: 531px) and (max-width: 560px) {
  body .block3 a { width: 22%;}
}
@media only screen and (min-width: 500px) and (max-width: 530px) {
  .block #title1, #title2 {font-size: 10px ; line-height: 14px ;top: 1.7%; width: 23%;}
  body .block3 p {font-size: 12px; line-height: 16px; margin-bottom: 4%;}
  body .block3 a {font-size: 12px; line-height: 16px; margin-bottom: 4%; height: 110%; width: 20%;}
}
@media only screen and (min-width: 600px) and (max-width: 649px) {
  .birki p {font-size: 14px !important; line-height: 17px !important;}
}

@media only screen and (min-width: 501px) and (max-width: 599px) {
  .birki p {font-size: 11px !important; line-height: 14px !important;}
}
@media only screen and (min-width: 501px) and (max-width: 590px) {
  .birki .body1 {border-radius: 14px;}
  .birki .body2 {border-radius: 12px;}
  .birki .body3 {border-radius: 10px;}

  @keyframes move {
    0% {left: 0px;}
    100% {left: -209.6%;}
  }
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left:  -418.8%;}
  }
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  body .sootnosheniye {padding-bottom: 447.19%;}
  body .block {height: 68.795%;}
  body .block2 {height: 29.81%;}
  body .block3 {height: 1.395%;}
  div .center {width: 100%;}
  div .left {width: 0%;}
  div .right {width: 0%;}
  div .first {height: 58.914%;}
  div .second {height: 22.04%;}
  div .third {height: 19.046%;}
  .block #title1, #title2 {font-size: 8px; line-height: 10px;top: 1.3%; width: 31.5%;}
  body .birki p {font-size: 11px; line-height: 14px;}
  body .block3 p {font-size: 11px; line-height: 14px; margin-bottom: 8%;}
  body .block3 a {font-size: 11px; line-height: 14px; margin-bottom: 6%; height: 100%; width: 27%;}

  .first .meatblock {height: 34.87%; width: 63.2%; margin-top: 6.2%; margin-left: 18.5%;}
  .first .smallround-centertop {height: 2.117%; width: 3.838%; border-radius: 60%;}
  .third .smallround-centerbottom {height: 6.55%;width: 3.838%}
  .block2 .container1 {height: 17%;}
  .block2 .birki {height: 83%;}
  .container1 .row {width: 400%;animation: move 5.7s linear infinite;}
  @keyframes move {
    0% {left: 0%;}
    100% {left: -212.7%;}
  }
  .row img {margin: 0.233% 0% 0.233% 0;}
  .row .line {margin-right:0%;width: 0.81%;}
  .row #newlife {width: 8.64%;}
  .row #alternative {width: 20.8%;}
  .row #dream {width: 8%;}
  .birki .row2 {width: 969%; animation: birkimove 18s linear infinite;}
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left: -676.65%;}
  }
  .birki .body1 {border-radius: 12px;}
  .birki .body2 {border-radius: 9px;}
  .birki .body3 {border-radius: 8px;}
  .row2 #b1, #b1-2 {margin-left: 3.8%; }
  .row2 #b2, #b2-2 {margin-left: -5.8%; }
  .second .logo {width: 92.03%; left: 4.531%;}
  #rtop-a {left: 4%; top: 26.3%;}
  #rtop-b {left: 27%; bottom: 40.2%;}
  #rtop-c {left: 4%; bottom: 31.9%;}
  #rtop-d {left: 49.3%; bottom: 29.7%;}
  #rtop-e {right: 30.6%; bottom: 19.4%;}
  #rtop-f {right: 3.8%; bottom: 27.7%;}
  #rtop-g {left: 4%; bottom: 5.1%;}
  #rtop-h {left: 12%; bottom: 11.25%;}
  #rtop-i {left:30.7%; top:36.9%;}
  #rtop-j {left:41.7%; bottom:7%;}
  #rtop-k {left: 55.3%; bottom: 44.2%;}
  #rtop-l {right: 22.8%; bottom: 11.2%;}
  #rtop-m {right: 15.2%; top: 38%;}
  #rtop-n {right: 3.8%; top: 44.5%;}
  #rbottom-a {left: 4.8%; bottom: 1%;}
  #rbottom-b {left: 23.9%; top: 29%;}
  #rbottom-c {left: 43.6%; top:47.5%;}
  #rbottom-d {right: auto; left: 43.6%; bottom: 1.35%;}
  #rbottom-e {top: 9.5%; right: 11.2%;}
  #rbottom-f {top: 29%; right: 23.2%;}
  #rbottom-g {bottom: 14%; right: 30%;}
  .first .iphone-top2 {z-index: 100;}
  .first .iphone-top4 {z-index: 101;}
  .birki .thread {width: 6px; left: calc(50% - 3px);}
}

@media only screen and (min-width: 376px) and (max-width: 500px) {
  .block2 .container1 {height: 20%;}
  .block2 .birki {height: 80%;}
  .birki .row2 {width: 934%;}
  .container1 .row {width: 440%; animation: move 6.7s linear infinite;}
  @keyframes move {
    0% {left: 0%;}
    100% {left: -237%;}
  }
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left: -646.9%;}
  }
  .row #newlife {width: 8.82%;}
  .row #alternative {width: 21.85%;}
  .row #view {width: 10%;}
  .row #dream {width: 8.515%;}
  .block #title1, #title2 {font-size: 12px; line-height: 15px;top: 1.2%; width: 30.5%;}
  body .birki p {font-size: 15px; line-height: 18px;}
  body .block3 p {font-size: 12px; line-height: 15px; margin-bottom: 4%;}
  body .block3 a {font-size: 12px; line-height: 15px; margin-bottom: 2%; height: 100%; width: 20%;}
  .birki .body1 {border-radius: 17px;}
  .birki .body2 {border-radius: 15px;}
  .birki .body3 {border-radius: 12px;}
}

@media only screen and (min-width: 426px) and (max-width: 475px) {
  .block #title1, #title2 {font-size: 12px; line-height: 15px;top: 1.3%; width: 32%;}
  body .birki p {font-size: 15px; line-height: 18px;}
  body .block3 p {font-size: 12px; line-height: 12px; margin-bottom: 4%;}
  body .block3 a {font-size: 12px; line-height: 12px; margin-bottom: 2%; height: 100%; width: 21%;}
  @keyframes move {
    0% {left: 0%;}
    100% {left: -238%;}
  }
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left: -648.4%;}
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .block #title1, #title2 {font-size: 11px; line-height: 14px;top: 1.1%; width: 34%;}
  body .birki p {font-size: 13px; line-height: 17px;}
  body .block3 p {font-size: 11px; line-height: 14px; margin-bottom: 4%;}
  body .block3 a {font-size: 11px; line-height: 14px; margin-bottom: 2%; height: 100%; width: 22%;}
  @keyframes move {
    0% {left: 0%;}
    100% {left: -238.7%;}
  }
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left: -649.55%;}
  }
}
@media only screen and (min-width: 351px) and (max-width: 375px) {
  .block #title1, #title2 {font-size: 10px; line-height: 13px;top: 1.1%; width: 34%;}
  body .birki p {font-size: 12px; line-height: 16px;}
  body .block3 p {font-size: 10px; line-height: 13px; margin-bottom: 4%;}
  body .block3 a {font-size: 10px; line-height: 13px; margin-bottom: 2%; height: 100%; width: 22%;}
  @keyframes move {
    0% {left: 0%;}
    100% {left: -211.6%;}
  }
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left: -674.85%;}
  }
}
@media only screen and (min-width: 335px) and (max-width: 350px) {
  .block #title1, #title2 {font-size: 10px; line-height: 13px;top: 1.1%; width: 36%;}
  body .birki p {font-size: 11px; line-height: 14px;}
  body .block3 p {font-size: 10px; line-height: 13px; margin-bottom: 4%;}
  body .block3 a {font-size: 10px; line-height: 13px; margin-bottom: 2%; height: 100%; width: 23%;}

  @keyframes move {
    0% {left: 0%;}
    100% {left: -212.1%;}
  }
  @keyframes birkimove {
    0% {left: 0px;}
    100% {left: -675.7%;}
  }
}
